<%= link_to content.url, target: "_blank" do %>
  <div class="listbox-wrapper">
    <div class="listbox-content-type">
      <% if content.content_type.name == "Articles" %>
        <%= image_tag("article.png") %>
      <% elsif content.content_type.name == "Lectures" %>
        <%= image_tag("lecture.png") %>
      <% elsif content.content_type.name == "Videos" %>
        <%= image_tag("video.png") %>
      <% end %>
    </div>
    <div class="listbox-source">
      <%= content.source.name %>
    </div>
    <div class="listbox-title">
      <%= content.title %>
    </div>
    <div class="listbox-category hidden-xs">
      <%= content.category.title %>
    </div>
  </div>
<% end %>
