<div class="navbar">
  <div class="navbar-inner col-md-8 col-md-offset-2 col-xs-12">
    <!-- Logo -->
    <a href="/" class="navbar-logo">
      <%= image_tag("logo.png") %>
    </a>

    <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">
      <a href="https://github.com/tomvaillant/undermind_web" class="navbar-item navbar-link" target="_blank">Contribute</a>
      <a href="https://airtable.com/shrI3pQd5HfP0DVWH" class="navbar-item navbar-link" target="_blank">Submit</a>
      <%= link_to "About", about_path, method: :get, class: "navbar-item navbar-link" %>
      <%= link_to "Privacy", privacy_path, method: :get, class: "navbar-item navbar-link" %>
      <a href="https://github.com/tomvaillant/undermind_web" class="navbar-item navbar-link" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/tom_vaillant" target="_blank" class="navbar-item navbar-link" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>


    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
          <li><%= link_to "About", about_path, method: :get, class: "" %></li>
          <li><%= link_to "Privacy", privacy_path, method: :get, class: "" %></li>
          <li><a href="https://airtable.com/shrI3pQd5HfP0DVWH" class="" target="_blank">Submit</a></li>
          <li><a href="https://github.com/tomvaillant/undermind_web" target="_blank" class="">Contribute</a></li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
